body {
    text-align: center;
    font-family: "Arial";
    color: deeppink;
}

body{
    color: blue;
}

#cabecera {
    color: black;
    background-color: rgb(88, 88, 203);
    font-weight: bold;

}

#footer{
 background-color: #777;
 color: white;
 text-align: center;   
} 