body {
    text-align: center;
    font-family: "Arial";
    color: deeppink;
}

body{
<<<<<<< HEAD
    color: blue;
}

#cabecera {
    color: black;
    background-color: rgb(88, 88, 203);
    font-weight: bold;

}
=======
    font-size: 16px;
    color: blueviolet;
}

>>>>>>> header
